<a href="https://colab.research.google.com/github/prayagsat99/Python/blob/main/PythonExercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Fundamentals**

In [ ]:
name=input("Enter your name: ")
print("Your name is", name)

Enter your name: Prayag Sathyanath
Your name is Prayag Sathyanath

##Swapping two variables

In [ ]:
#Method one - using a temporary variable
a=10
b=5
temp=a
a=b
b=temp
print("the value of a is: "+str(a) + " and "+ "the value of b is: "+str(b))

the value of a is: 5 and the value of b is: 10

In [ ]:
#Method two - by tuple exchange | unpacking the tuple and assigning the values to the variables in reverse order.
a=10
b=5
a,b=b,a
print("the value of a is: "+str(a) + " and "+ "the value of b is: "+str(b))

the value of a is: 5 and the value of b is: 10

In [ ]:
#Method three - by arithmetic operation
a=10
b=5
a=a+b
b=a-b
a=a-b
print("the value of a is: "+str(a) + " and "+ "the value of b is: "+str(b))

the value of a is: 5 and the value of b is: 10

## String Slicing

In [10]:
name="Prayag Sathyanath"
print(name[0:10]) #prints from index 0 to 9
print(name[7:])   #prints from index 8 to last char
print(name[:10])  #prints from index 0 to 9
print(name[-12:]) #prints from index -12 to -1
print(name[:-1])  #prints from index -1 to first

Prayag Sat
Sathyanath
Prayag Sat
g Sathyanath
Prayag Sathyanat