<a href="https://colab.research.google.com/github/prayagsat99/Python/blob/main/PythonExercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Fundamentals**

##Taking an input by prompt and printing the values

In [ ]:
name=input("Enter your name: ")
print("Your name is", name)
f'My name is {name}'   #use the variable you want to print in{}

Enter your name: prayag
Your name is prayag

'My name is prayag'

##Swapping two variables

In [ ]:
#Method one - using a temporary variable
a=10
b=5
temp=a
a=b
b=temp
print("the value of a is: "+str(a) + " and "+ "the value of b is: "+str(b))

the value of a is: 5 and the value of b is: 10

In [ ]:
#Method two - by tuple exchange | unpacking the tuple and assigning the values to the variables in reverse order.
a=10
b=5
a,b=b,a
print("the value of a is: "+str(a) + " and "+ "the value of b is: "+str(b))

the value of a is: 5 and the value of b is: 10

In [ ]:
#Method three - by arithmetic operation
a=10
b=5
a=a+b
b=a-b
a=a-b
print("the value of a is: "+str(a) + " and "+ "the value of b is: "+str(b))

the value of a is: 5 and the value of b is: 10

## String Slicing

In [1]:
name="Prayag Sathyanath"
print(name[0:10]) #prints from index 0 to 9
print(name[7:])   #prints from index 7 to last char
print(name[:10])  #prints from index 0 to 9
print(name[-12:]) #prints from index -12 to -1
print(name[:-1])  #prints from index -1 to first

Prayag Sat
Sathyanath
Prayag Sat
g Sathyanath
Prayag Sathyanat

##Print String - Step Slicing | Starting Index : Ending Index : Step Count

In [ ]:
string="HelloWorld"
print(string[::2])   #prints from 0 index to last index with step2
print(string[2:9:3]) #prints from 2 index to 9-1 index with step3
print(string[:8:2])  #prints from 0 index to 8-1 index with step2

Hlool
lWl
Hloo

##How to Print Reverse of a String using Step Slicing

In [ ]:
#method 1 - using step slicing
name="Prayag"
print(name[::-1])

gayarP

In [ ]:
#method -2 using string reversal + for loop
name="Prayag"
for x in reversed(name):
  print(x,end="")

gayarP

##Palindrom Program using different methods

In [ ]:
#method1 - using string step slicing
word=input("Enter the word:")
print("Reverse of the string is:",word[::-1])
if word[::-1] == word :
  print(" It's a palindrom")
else:
  print("It's not a palindrom")

Enter the word:malayalam
Reverse of the string is: malayalam
 It's a palindrom

In [ ]:
#method2 - for loop +string reversal
reversal=""
word=input("Enter the word:")
for x in reversed(word):
  reversal=reversal+x
print("Reverse of the string is: ",reversal)
if reversal==word:
  print("It is a palindrom")
else:
  print("Not a palindrom")

Enter the word:dad
Reverse of the string is:  dad
It is a palindrom

## Case Program using methods

In [ ]:
string1=input("Enter the string: ")
if string1.lower()==string1 :
  print("Lowercase")
elif string1.upper()==string1 :
  print("Uppercase")
else:
  print("Upper and Lower Combination")

Enter the string:
Lowercase

##Count the occurence of a character in a string

In [ ]:
#method 1 - using count()
string1="prayag"
string1.count("a")

2

In [ ]:
#method2- using for loop
string1="prayag"
ccount=0
print(string1)
charsearch=input("enter the character to search")
for x in string1:
  if x==charsearch:
   ccount=ccount+1
print("The character '",charsearch,"' occurs",ccount,"times")

prayag
enter the character to searchb
The character ' b ' occurs 0 times

##Check for substring

In [ ]:
team="Barcelona"
'cel' in team

True

#Class and Object

In [ ]:
class Car():
  def __init__(self,x,y,z):

    self.name=str(x)
    self.make=str(y)
    self.version=int(z)

c1=Car("Toyota","Supra",2023)
print(c1.name,c1.make,c1.version)

Toyota Supra 2023

###Calculator using classes,objects and methods

In [ ]:
class calculator():
  def __init__(self,x,y,z):
    self.num1=int(x)
    self.num2=int(y)
    self.op=str(z)

  def addition(self):
    result=(self.num1+self.num2)
    print(result)

  def subtraction(self):
    result=(self.num1-self.num2)
    print(result) 

  def multiplication(self):
    result=(self.num1*self.num2)
    print(result)  

  def division(self):
    result=(self.num1/self.num2)
    print(result)

c2=calculator(10,20,"Add")

if(c2.op)=="Add":
   c2.addition()
elif(c2.op)=="Sub": 
   c2.subtraction() 
elif(c2.op)=="div": 
   c2.division()
elif(c2.op)=="mul": 
   c2.multiplication() 
else:
   print("Wrong Operation")

30

###EvenOdd : classes,objects and methods

In [ ]:
class evenodd():
  def __init__  (self,x):
    self.num=x
  
    if self.num % 2 == 0:
      print("The number is even")
    else:
      print("The number is odd")

check1=evenodd(1)

The number is odd

 ### Prime Number : classes,objects and methods

In [ ]:
class prime():
  def __init__(self,x):
    self.num=x
    self.counter=0

    for i in range(2,(x*x)+1):
      if self.num%i ==0:
        self.counter=1   
       

    if self.counter==0 or self.num==2:
      print(self.num,":The number is a prime number")
    
    else:  
      print(self.num,":The number is a non-prime number") 
number1=prime(9)

9 :The number is a non-prime number

### Fibonacci: using input()

In [16]:
  def fib(x):
    n=x
    num1=0
    num2=1
    print("Fibonacci series for ", x ,"numbers are:")
    print(num1,end=" ")
    print(num2,end=" ")

    for i in range(2,n):
      num3=num1+num2
      print(num3,end=" ")
      num1=num2
      num2=num3

  inp=input("Enter the n value:")
  fib(int(inp))

Enter the n value:10
Fibonacci series for  10 numbers are:
0 1 1 2 3 5 8 13 21 34

### List of prime numbers using filtered function

In [20]:
def prime(n):
    if n < 2:
        return False
    for x in range(2, n):
        if n % x == 0:
            return False
    return True

f1 = filter(prime, range(15))
listf1 = list(f1)

print("The prime numbers are:", listf1)

print("The non-prime numbers are:")
for x in range(15):
    if x not in listf1:
        print(x, end=" ")

The prime numbers are: [2, 3, 5, 7, 11, 13]
The non-prime numbers are:
0 1 4 6 8 9 10 12 14

### Get a list of name as an input from the user and make the first letters in caps and print each word as a list in python

In [ ]:
names = input("Enter a list of names separated by commas: ")

names_list = names.split(",")  # Split the input string into a list of names
names_list = [name.strip().capitalize() for name in names_list]  # Capitalize the first letter of each name and remove leading/trailing whitespace

for name in names_list:
    print(list(name))  # Convert the name string to a list of characters and print each character

Enter a list of names separated by commas: prayag,dravid,sachin,messi
['P', 'r', 'a', 'y', 'a', 'g']
['D', 'r', 'a', 'v', 'i', 'd']
['S', 'a', 'c', 'h', 'i', 'n']
['M', 'e', 's', 's', 'i']

### Write a Python code to configure the MySQL Connector in your system and Insert data to MySQL Table after which you Fetch and Display data from Table

In [ ]:
import mysql.connector

# Establish a connection to the MySQL database
db = mysql.connector.connect(
    host="localhost",
    user="yourusername",
    password="yourpassword",
    database="yourdatabase"
)

# Create a cursor object to interact with the database
cursor = db.cursor()

# Create a table if it doesn't exist
cursor.execute("CREATE TABLE IF NOT EXISTS users (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), email VARCHAR(255))")

# Insert data into the table
sql = "INSERT INTO users (name, email) VALUES (%s, %s)"
values = ("John Doe", "johndoe@example.com")
cursor.execute(sql, values)
db.commit()
print(cursor.rowcount, "record inserted.")

# Fetch data from the table
cursor.execute("SELECT * FROM users")
result = cursor.fetchall()

# Display the data
for row in result:
    print(row)
    
# Close the database connection
db.close()

In [ ]:
num1 = int(input("Enter an integer: "))
num1rev= int(str(num1)[::-1])

print("The reversed integer is:", num1rev)

Enter an integer: 456
The reversed integer is: 654