<a href="https://colab.research.google.com/github/prayagsat99/Python/blob/main/PythonExercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Fundamentals**

##Taking an input by prompt and printing the values

In [ ]:
name=input("Enter your name: ")
print("Your name is", name)
f'My name is {name}'   #use the variable you want to print in{}

Enter your name: prayag
Your name is prayag

'My name is prayag'

##Swapping two variables

In [ ]:
#Method one - using a temporary variable
a=10
b=5
temp=a
a=b
b=temp
print("the value of a is: "+str(a) + " and "+ "the value of b is: "+str(b))

the value of a is: 5 and the value of b is: 10

In [ ]:
#Method two - by tuple exchange | unpacking the tuple and assigning the values to the variables in reverse order.
a=10
b=5
a,b=b,a
print("the value of a is: "+str(a) + " and "+ "the value of b is: "+str(b))

the value of a is: 5 and the value of b is: 10

In [ ]:
#Method three - by arithmetic operation
a=10
b=5
a=a+b
b=a-b
a=a-b
print("the value of a is: "+str(a) + " and "+ "the value of b is: "+str(b))

the value of a is: 5 and the value of b is: 10

## String Slicing

In [ ]:
name="Prayag Sathyanath"
print(name[0:10]) #prints from index 0 to 9
print(name[7:])   #prints from index 8 to last char
print(name[:10])  #prints from index 0 to 9
print(name[-12:]) #prints from index -12 to -1
print(name[:-1])  #prints from index -1 to first

Prayag Sat
Sathyanath
Prayag Sat
g Sathyanath
Prayag Sathyanat

##Print String - Step Slicing | Starting Index : Ending Index : Step Count

In [ ]:
string="HelloWorld"
print(string[::2])   #prints from 0 index to last index with step2
print(string[2:9:3]) #prints from 2 index to 9-1 index with step3
print(string[:8:2])  #prints from 0 index to 8-1 index with step2

Hlool
lWl
Hloo

##How to Print Reverse of a String using Step Slicing

In [ ]:
#method 1 - using step slicing
name="Prayag"
print(name[::-1])

gayarP

In [ ]:
#method -2 using string reversal + for loop
name="Prayag"
for x in reversed(name):
  print(x,end="")

gayarP

##Palindrom Program using different methods

In [ ]:
#method1 - using string step slicing
word=input("Enter the word:")
print("Reverse of the string is:",word[::-1])
if word[::-1] == word :
  print(" It's a palindrom")
else:
  print("It's not a palindrom")

Enter the word:malayalam
Reverse of the string is: malayalam
 It's a palindrom

In [ ]:
#method2 - for loop +string reversal
reversal=""
word=input("Enter the word:")
for x in reversed(word):
  reversal=reversal+x
print("Reverse of the string is: ",reversal)
if reversal==word:
  print("It is a palindrom")
else:
  print("Not a palindrom")

Enter the word:dad
Reverse of the string is:  dad
It is a palindrom

## Case Program using methods

In [ ]:
string1=input("Enter the string: ")
if string1.lower()==string1 :
  print("Lowercase")
elif string1.upper()==string1 :
  print("Uppercase")
else:
  print("Upper and Lower Combination")

Enter the string:
Lowercase

##Count the occurence of a character in a string

In [ ]:
#method 1 - using count()
string1="prayag"
string1.count("a")

2

In [ ]:
#method2- using for loop
string1="prayag"
ccount=0
print(string1)
charsearch=input("enter the character to search")
for x in string1:
  if x==charsearch:
   ccount=ccount+1
print("The character '",charsearch,"' occurs",ccount,"times")

prayag
enter the character to searchb
The character ' b ' occurs 0 times

##Check for substring

In [ ]:
team="Barcelona"
'cel' in team

True

#Class and Object

In [10]:
class Car():
  def __init__(self,x,y,z):

    self.name=str(x)
    self.make=str(y)
    self.version=int(z)

c1=Car("Toyota","Supra",2023)
print(c1.name,c1.make,c1.version)

Toyota Supra 2023

###Calculator using classes,objects and methods

In [31]:
class calculator():
  def __init__(self,x,y,z):
    self.num1=int(x)
    self.num2=int(y)
    self.op=str(z)

  def addition(self):
    result=(self.num1+self.num2)
    print(result)

  def subtraction(self):
    result=(self.num1-self.num2)
    print(result) 

  def multiplication(self):
    result=(self.num1*self.num2)
    print(result)  

  def division(self):
    result=(self.num1/self.num2)
    print(result)

c2=calculator(10,20,"Add")

if(c2.op)=="Add":
   c2.addition()
elif(c2.op)=="Sub": 
   c2.subtraction() 
elif(c2.op)=="div": 
   c2.division()
elif(c2.op)=="mul": 
   c2.multiplication() 
else:
   print("Wrong Operation")

30